{% extends 'base.html.twig' %}

{% block title %}Month Calendar Display{% endblock %}

{% block content %}

  <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
    <h1>{{ month_name }} - {{ month_number }} - {{ nb_days_month }}</h1>
    <div>
      <a href="{{ path('canteen_month') }}?month={{ previous_month_month }}&year={{ previous_month_year }}" class="btn btn-primary">&lt;</a>  
      <a href="{{ path('canteen_month') }}?month={{ next_month_month }}&year={{ next_month_year }}" class="btn btn-primary">&gt;</a>
    </div>
  </div>
  
  {{ nb_days_month }} jours - {{ nb_weeks }} semaines => Mois précédent ({{ previous_month_month }}) : {{ nb_days_previous_month }}

  <table class="calendar__table calendar__table--<?= $month->getWeeks(); ?>weeks">
      <tr class="calendar__table__dayname">
            {% for day in days %}
                <td>
                    <div class="calendar__column__title">{{ day }}</div>
                </td>
            {% endfor %}
      </tr>
{% if launch_day == 1 %}
{% set start = start_monday %}
{% else %}
{% set start = start_other %}
{% endif %}


    {% set change_month = 0 %}

    {% for i in 1..nb_weeks %}
        <tr>
        
        {% for day in month_days %}

            {% if start == 1 %}
                {% set change_month = 1 %}
                <td class="calendar__day">
                <div>{{ start }}</div>
                </td>
                {% set start = start + 1 %}
            {% elseif start > nb_days_month %}
                {% if start > nb_days_previous_month %}
                    {% set start = 1 %}
                    {% set change_month = 1%}
                    <td class="calendar__day">
                    <div>{{ start }}</div>
                    </td>
                    {% set start = start + 1 %}
                {% else %}
                    <td class="calendar__day">
                    <div>{{ start }}</div>
                    </td>
                    {% set start = start + 1 %}
                {% endif %}
            {% elseif start <= nb_days_month %}
                {% if change_month == 2 %}
                    <td class="calendar__day">
                    <div>{{ start }}</div>
                    </td>
                    {% set start = start + 1 %}
                {% endif %}
                {% if change_month == 1%}
                    {% if start < nb_days_month %}
                        <td class="calendar__day">
                        <div>{{ start }}</div>
                        </td>
                        {% set start = start + 1 %}
                    {% elseif start == nb_days_month %}
                        <td class="calendar__day">
                        <div>{{ start }}</div>
                        </td>
                        {% set start = 1 %}
                        {% set change_month = 2 %}
                    {% endif %}
                {% elseif change_month == 0 %}
                    {% if start < nb_days_previous_month %}
                        <td class="calendar__day">
                        <div>{{ start }}</div>
                        </td>
                        {% set start = start + 1 %}
                    {% elseif start == nb_days_previous_month %}
                        <td class="calendar__day">
                        <div>{{ start }}</div>
                        </td>
                        {% set start = 1 %}
                        {% set change_month = 1 %}
                    {% endif %}
                {% endif %}

            {% endif %}

        {% endfor %}
        </tr>
    {% endfor %}
  </table>

{% endblock %}
