{% extends 'base.html.twig' %}

{% block title %}Week Calendar Display{% endblock %}

{% block content %}

  <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
    <h1>Semaine N° {{ actual_week }} - Année N° {{ actual_year }}</h1>

    <div>
      <a href="{{ path('admin_calendar_week2') }}?year={{ previous_week_year }}&week={{ previous_week_week }}" class="btn btn-primary">&lt;</a>  
      <a href="{{ path('admin_calendar_week2') }}?year={{ next_week_year }}&week={{ next_week_week }}" class="btn btn-primary">&gt;</a>
    </div>
  </div>
  
  {{ nb_days_month }} jours => Mois précédent ({{ previous_month_month }}) : {{ nb_days_previous_month }}

  <table class="calendar__table calendar__table--<?= $month->getWeeks(); ?>weeks">
      <tr class="calendar__table__dayname">
            {% for day in days %}
                <td>
                    <div class="calendar__weekday">{{ day }}</div>
                </td>
            {% endfor %}
      </tr>
{% if launch_day == 1 %}
{% set start = start_monday %}
{% else %}
{% set start = week_starting_day %}
{% endif %}


    {% set change_month = 0 %}

    {% for i in 1..1 %}
        <tr>
        
        {% for day in 1..7 %}

                {# <td class="calendar__day"> #}
                {# <div>{{ start }}</div> #}
                {# </td> #}
                {# {% set start = start + 1 %} #}

            




            {% if start == 1 %}
                {% set change_month = 1 %}
                <td class="calendar__day">
                <div>{{ start }}</div>
                </td>
                {% set start = start + 1 %}
            {% elseif start > nb_days_month %}
                {% if start > nb_days_previous_month %}
                    {% set start = 1 %}
                    {% set change_month = 1 %}
                    <td class="calendar__day">
                    <div>{{ start }}</div>
                    </td>
                    {% set start = start + 1 %}
                {% else %}
                    <td class="calendar__day">
                    <div>{{ start }}</div>
                    </td>
                    {% set start = start + 1 %}
                {% endif %}
            {% elseif start <= nb_days_month %}
                {% if change_month == 2 %}
                    {# <td class="calendar__day"> #}
                    {# <div>{{ start }}</div> #}
                    {# </td> #}
                    {# {% set start = start + 1 %} #}
                {% elseif change_month == 1%}
                    {% if start < nb_days_month %}
                        <td class="calendar__day">
                        <div>{{ start }}</div>
                        </td>
                        {% set start = start + 1 %}
                    {# {% elseif start == nb_days_month %} #}
                        {# <td class="calendar__day"> #}
                        {# <div>{{ start }}</div> #}
                        {# </td> #}
                        {# {% set start = 1 %} #}
                        {# {% set change_month = 2 %} #}
                    {% endif %}
                {% elseif change_month == 0 %}
                    {% if start < nb_days_previous_month %}
                        {% if start < nb_days_month %}
                            <td class="calendar__day">
                            <div>{{ start }}</div>
                            </td>
                            {% set start = start + 1 %}
                        {% elseif start == nb_days_month %}
                            <td class="calendar__day">
                            <div>{{ start }}</div>
                            </td>
                            {% set start = 1 %}
                            {% set change_month = 1 %}
                        {% endif %}
                    {% elseif start == nb_days_previous_month %}
                        {% if start < nb_days_month %}
                            <td class="calendar__day">
                            <div>{{ start }}</div>
                            </td>
                            {% set start = start + 1 %}
                        {% elseif start == nb_days_month %}
                            <td class="calendar__day">
                            <div>{{ start }}</div>
                            </td>
                            {% set start = 1 %}
                            {% set change_month = 1 %}
                        {% endif %}
                    {% elseif start > nb_days_previous_month %}
                        {% if start < nb_days_month %}
                            <td class="calendar__day">
                            <div>{{ start }}</div>
                            </td>
                            {% set start = start + 1 %}
                        {% elseif start == nb_days_month %}
                            <td class="calendar__day">
                            <div>{{ start }}</div>
                            </td>
                            {% set start = 1 %}
                            {% set change_month = 1 %}
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endif %}

        {% endfor %}
        </tr>
    {% endfor %}
  </table>

{% endblock %}
