{% extends 'base.html.twig' %}

{% block title %}O'Tableau{% endblock %}

{% block content %}

    <div class="backend_role">
        {% for role in roles %}
            <div>
                <a href="{{ path('admin_role_show', { 'id': role.id }) }}">{{role.name}}
                </a>
                    <form method="post" action="{{ path('admin_role_edit', {'id': role.id}) }}">
        <input type="hidden" name="_method" value="UPDATE">
        <input type="hidden" name="_token" value="{{ csrf_token('update' ~ role.id) }}">
        <button class="btn">Modifier</button>
    </form>

    <form method="post" action="{{ path('admin_role_delete', {'id': role.id}) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
        <button class="btn">Supprimer</button>
    </form>
            </div>
        {% endfor %}    
    </div>
    <a href="{{ path('admin_role_new') }}">NEW</a>
{% endblock %}
{% block footer %}
{% endblock %}