{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Connexion{% endblock %}

{% block nav %}         
{% endblock %}

{% block content %}
    <div class="content_form_login">
        <a href="{{ path('default_index') }}"><i class="fas fa-angle-left"></i></a>
        <h1>Se connecter</h1>
        <form method="post">
            {# {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %} #}

            
            <p>Nom d'utilisateur</p>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"required autofocus>
            <p>Mot de passe</p>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div>
                <button type="submit">
                    Connexion
                </button>
            </div>
            <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié ?</a>
        </form>
    </div>
{% endblock %}

{% block footer %}         
{% endblock %}