{% extends 'base.html.twig' %}

{% block title %}O'Tableau | EnfantName{% endblock %}

{% block content %}

    <div class="content_profil">
        <div class="nav_profil">
            <div class="nav_profil_flex">
                <i class="fas fa-user-alt"></i>
                <div>
                    <p>{{ app.user.username }}</p>
                    <span>{{app.user.role.name }}</span>
                </div>
            </div>
            <div>
                <a href="{{ path('user_myAccount') }}">Mon compte</a>
            </div>
        </div>
        <div class="profil">
            <a class="children_back_profil" href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i></a>
            <div class="profil_children_detail">
                <i class="fas fa-user-graduate"></i>
                <h2>ChildrenName</h2>
                <p>Née le 00/00/1998</p>
                <p>CM1, classe de Username</p>
            </div>
            <div class="doc_children_div">
                <a class="doc_children_link" href="{{ path('document_childrenDoc') }}">Documents de Enfant</a>
            </div>
            <div class="profil_doc_bulletin">
                <div>
                    <a href="">
                        <i class="fas fa-file-pdf"></i>
                        <p>Bulletin de Note</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
   

{% endblock %}
