{% extends 'base.html.twig' %}

{% block title %}O'Tableau{% endblock %}

{% block content %}

    <div class="backend_classroom_edit">
            <a href="{{ path('admin_classroom_index') }}"><i class="fas fa-angle-left"></i></a>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button>{{ button_label|default('Modifier') }}</button>
            {{ form_end(form) }}
    </div>

{% endblock %}
{% block footer %}
{% endblock %}