{% extends 'base.html.twig' %}

{% block content %}

    <h1>News</h1>

    {% for actuality in actualitys %}      

     <a href="{{ path('actualityadmin_show', { 'id': actuality.id }) }}">     
    
    <h2>{{ actuality.title }}</h2>

    <form method="post" action="{{ path('actualityadmin_delete', {'id': actuality.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actuality.id) }}">
    <button class="btn">Supprimer</button>
</form>


<form method="post" action="{{ path('actualityadmin_update', {'id': actuality.id}) }}">
    <input type="hidden" name="_method" value="UPDATE">
    <input type="hidden" name="_token" value="{{ csrf_token('update' ~ actuality.id) }}">
    <button class="btn">Modifier</button>
</form>

    </a>
   
    {% endfor %}

{% endblock %}
