
{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Profil{% endblock %}

{% block content %}

    <div class="backend_index">
        <a href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i></a>
        <h1>Gestion</h1>
        <ul>
            <li><a href="{{ path('document_index') }}">Documents</a></li>
            <li><a href="{{ path('alert_index') }}">Alertes</a></li>
            <li><a href="{{ path('actualityadmin_index') }}">Actualités</a></li>
            <li><a href="{{ path('admin_student_index') }}">Élèves</a></li>            
            <li><a href="{{ path('admin_role_index') }}">Roles</a></li>  
            <li><a href="{{ path('admin_school_index') }}">Ecoles</a></li>  
            <li><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
            <li><a href="{{ path('admin_person_index') }}">Personnes autoriser</a></li>  
            {# <li><a href="{{ path('admin_calendar_month') }}">Création du calendrier</a></li> #}
            <li><a href="">Consultation du calendrier</a></li>
            <li><a href="">Consultation cantine</a></li>
            {# <li><a href="">Modification cantine</a></li> #}
            <li><a href="">LOREM</a></li>
        </ul>
    </div>
   
{% endblock %}
{% block footer %}
{% endblock %}