{% extends 'base.html.twig' %}

{% block title %}O'Tableau{% endblock %}

{% block content %}

<div class="backend_person_new">
        <a href="{{ path('admin_person_index') }}"><i class="fas fa-angle-left"></i></a>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}
     </div>

{% endblock %}
{% block footer %}
{% endblock %}