{% extends 'base.html.twig' %}

{% block title %}O'Tableau{% endblock %}

{% block content %}

    <div class="backend_person_show">
          <p>{{person.name}}</p>
    </div>

    <form method="post" action="{{ path('admin_person_edit', {'id': person.id}) }}">
        <input type="hidden" name="_method" value="UPDATE">
        <input type="hidden" name="_token" value="{{ csrf_token('update' ~ person.id) }}">
        <button class="btn">Modifier</button>
    </form>

    <form method="post" action="{{ path('admin_person_delete', {'id': person.id}) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
        <button class="btn">Supprimer</button>
    </form>
   
{% endblock %}
{% block footer %}
{% endblock %}