{% extends 'base.html.twig' %}

{% block title %}Day Calendar Display{% endblock %}

{% block content %}

    <div class="content_profil">
        <div class="nav_profil">
            <div class="nav_profil_flex">
                <i class="fas fa-hamburger"></i>
                <div>
                    <p>{{ app.user.username }}</p>
                    <span>{{app.user.role.name }}</span>
                </div>
            </div>
        </div>
                <div class="profil_classe">
                        <table class="calendar__table">
                        <caption>{{ my_classroom.name }}<br>
                        <a href="{{ path('canteen_day_read') }}?date_of_day={{ date_of_yesterday }}" class="btn btn-primary">&lt;</a>
                        {{ date_of_day_to_display }}
                        <a href="{{ path('canteen_day_read') }}?date_of_day={{ date_of_tomorrow }}" class="btn btn-primary">&gt;</a></caption>
                        <thead>
                            <tr class="calendar__table__dayname">
                                <td class="calendar__day">Nom élève</td>
                                <td class="calendar__day">Présence</td>
                                <td class="calendar__day">Repas</td>
                            </tr>

                        </thead>


                        <tbody>
                            {# {% for studentId, form in forms %}  #}
                            {# {{ form_start(form) }} #}
                            {# {% for student in students %} #}
                            <form action="{{ path('canteen_day_save') }}" method="POST">
                            <input type="hidden" name="date_of_day_bdd" value="{{ date_of_day_bdd }}">
                            {% for lunchByDate in lunchesByDate %}



                            {# {{ dump(lunchByDate) }} #}

                            <tr>
                            <input type="hidden" id="id" name="{{ lunchByDate.id }}" value="{{ lunchByDate.id }}">
                                    {# {% if studentId == student.id %} #}
                                <td class="calendar__day">
                                    
                                    {{ lunchByDate.studentName }} {{ lunchByDate.studentFirstname }}
                                    {# {{ form_label(form.student) }} #}
                                    {# {{ form_widget(form.student) }} #}
                                </td>
                                
                                <td class="calendar__day">
                                    {# {{ dump(lunchByDate.isPresent) }} #}
                                    <input type="checkbox" id="presence" name="{{ lunchByDate.id }}-presence"
                                    {% if lunchByDate.isPresent == true %}
                                    checked
                                    
                                    {# {% if lunchByDate.isPresent == 1 %} checked #}
                                    {# {{ lunchByDate.isPresent }} checked #}
                                    {% elseif lunchByDate.isPresent == false %}
                                    unchecked
                                    {# {% if lunchByDate.isPresent == 0 %} unchecked #}
                                    {# {{ lunchByDate.isPresent }} unchecked #}
                                    {% endif %}
                                    
                                    {# {% endif %} #}
                                    >
                                    {# {{ form_label(form.is_present) }} #}
                                    {# {{ form_widget(form.is_present) }} #}
                                </td>
                                <td class="calendar__day">
                                    <input type="checkbox" id="eated" name="{{ lunchByDate.id }}-eated"
                                    {% if lunchByDate.hasEated == true %}
                                    checked
                                    {# {{ lunchByDate.hasEated }} #}
                                    {% elseif lunchByDate.hasEated == false %}
                                    unchecked
                                    {% endif %}
                                    >
                                    {# {{ form_label(form.has_eated) }} #}
                                    {# {{ form_widget(form.has_eated) }} #}
                                </td>
                                {# {{ form_end(form) }} #}
                                    {# {% endif %} #}
                                    
                                
                            </tr>
                            {# {% endfor %} #}
                            {% endfor %}

                            <input type="submit" value="Mettre à jour"> 
                            </form>

                        </tbody>

                    </table>
                    
                </div>

{% endblock %}