{% extends 'base.html.twig' %}

{% block content %}

    <div class="backend_student">
        <a href="{{ path('admin_default_index') }}"><i class="fas fa-angle-left"></i></a>
        <div class="add_document">
        <h1>Ajouter un élève</h1>
        {{ form(form) }}
    </div>

        <div class="list_student">
        <h2>Liste des élèves</h2>
        {% for student in students %}      

        <a href="{{ path('admin_student_show', { 'id': student.id }) }}">     
        
        <p>{{ student.name }} {{ student.firstname }}</p>

        </a>
    
        {% endfor %}
         </div> 

{% endblock %}
{% block footer %}
{% endblock %}
