{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ajouter un document de la vie Scolaire:</h1><br>
    {{ form(form) }}<br><hr>
            <h2>Listing des documents de la vie scolaire</h2>
                {% for doc in documents %}                  
                    <a href="{{ path('document_show', { 'id': doc.id }) }}"><br>                                     
                    {{ doc.name }} 
                     </a>
                {% endfor %}
                <br><hr>

            <h2>Listing des documents par Classe puis filtré par étudiant</h2>

                {% for classroom in classrooms %}                    
                     <a href="{{ path('document_classroom_show', { 'id': classroom.id }) }}"><br>                                     
                    {{ classroom.name }} <br>          
                {% endfor %}                   
                                  
{% endblock %}
