{% extends 'base.html.twig' %}

{% block content %}

    <div class="backend_document">
        <a href="{{ path('admin_default_index') }}"><i class="fas fa-angle-left"></i></a>
        <div class="add_document">
            <h1>Ajouter un document de la vie Scolaire</h1>
            {{ form(form) }}
        </div>

        <div class="list_document">
        <h2>Documents de la vie scolaire</h2>
            {% for doc in documents %}   
            <div>   
                <i class="fas fa-file-pdf"></i>         
                <a href="{{ path('documentSchool_show', { 'id': doc.id }) }}">{{ doc.name }}</a> 
            </div>
            {% endfor %}
        </div>      
        
        <div class="list_document_class">
            <h2>Documents par classe puis filtré par élèves</h2>
            {% for classroom in classrooms %}
                <div>             
                    <a href="{{ path('documentClassroom_show', { 'id': classroom.id }) }}">{{ classroom.name }}</a>   
                </div>                                                
            {% endfor %}  
        </div>
    </div>                
                                  
{% endblock %}
{% block footer %}
{% endblock %}
