{% extends 'base.html.twig' %}

{% block content %}

    <div class="backend_document_show">
        <a href="{{ path('document_index') }}"><i class="fas fa-angle-left"></i></a>
        <div class="show_document">
            <p>Consulter le document</p> 
            <div>
                <i class="fas fa-file-pdf"></i>
                <a target="_blank" href="/docs/{{ doc.documenturl }}">{{ doc.name }}</a> 
            </div>
        </div>

        <div class="show_delete_update">

            <form method="post" action="{{ path('documentschool_edit', {'id': doc.id}) }}">
                <input type="hidden" name="_method" value="UPDATE">
                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ doc.id) }}">
                <button class="btn">Modifier</button>
            </form>

            <form method="post" action="{{ path('documentschool_delete', {'id': doc.id}) }}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doc.id) }}">
                <button class="btn">Supprimer</button>
            </form>

        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}