{% extends 'base.html.twig' %}

{% block content %}

<h1>Listing des documents de {{ student.name }} {{ student.firstname }}</h1>         

{% for document in student.documents %}

<a href="/docs/{{ document.documenturl }}">
         <a href="{{ path('documentStudent_show', { 'id': document.id }) }}"><br>                                     
                    {{ document.name }} 
                     </a>
{% endfor %} 

<hr>
 <a href="{{ path('document_adminAddchildrenDoc', { 'id': classroom.id, 'studentid': student.id  }) }}">Ajouter un document à cet élève</a>
                                  
{% endblock %}
