{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Actualités{% endblock %}

{% block content %}

    <div class="content_actu">

       
        <div class="tag_all">
            <a href="{{ path('actuality_index') }}">Tous</a>
        </div>
        <div class="tags_actu">
            <div>
                <ul class="myNav">  
                    <li class="myNav-item ui-accordion-item">
                        <a class="myNav-link ui-accordion-trigger" href="#">{{classroom}}</a>
                        <ul class="myNav-content ui-accordion-content">
                            {% for classroom in classrooms %}
                                <li><a href="{{ path('actuality_myclassroom', { 'id': classroom.id }) }}">{{ classroom }}</a></li>
                            {% endfor %} 
                        </ul>
                    </li>  
                </ul>
            </div>
        </div>

        <h1>Actualités</h1>
            <div class="alert_actuality">
            {% for alert in alerts %}      
                <h2>{{ alert.title }}</h2>
                <p>{{ alert.content }}</p>   
            {% endfor %}
        </div>

          {% for actuality in classroom.actualities %}    
                        
        <a href="{{ path('actuality_show', { 'id': actuality.id }) }}">
            <div class="actu">
                <img src="/docs/{{ actuality.pictureUrl }}" alt="">
                <div class="actu_préShow">
                    <h2>{{ actuality.title }}</h2>
                    <p>{{ actuality.content }}</p>
                    <div>
                        <i class="far fa-clock"></i>
                        <span>Le {{ actuality.createdAt|date('d/m/Y') }}</span>
                    </div>                      
                </div>              
            </div>
        </a>
         {% endfor %}  
    </div>
{% endblock %}
