{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Actualités{% endblock %}

{% block content %}

    

    <div class="alert_content">
        <div class="animated infinite fadeIn delay-1s alert_actuality">
            {% for alert in alerts %}      
                <h2>{{ alert.title }}</h2>
                <p>{{ alert.content }}</p>   
            {% endfor %}  
        </div>
    </div>
    <div class="content_actu">

        <div class="flex_tags_actu">
            <div class="tag_all">
                <a href="{{ path('actuality_index') }}">Tous</a>
            </div>
            <div class="tags_actu">
                <nav role="navigation" class="menu">
                    <ul>
                        <li><a>{{ classroom.name }}</a>
                            <ul>
                                {% for classroom in classrooms %}
                                    <li><a href="{{ path('actuality_myclassroom', { 'id': classroom.id }) }}">{{ classroom }}</a></li>
                                {% endfor %} 
                            </ul>
                        </li>
                    </ul>​
                </nav>
            </div>
        </div>

        <h1>Actualités de {{classroom.name}} </h1>
          
        {% for actuality in classroom.actualities %}    
                        
            <a href="{{ path('actuality_show', { 'id': actuality.id }) }}">
                <div class="actu">
                    <img src="/docs/{{ actuality.pictureUrl }}" alt="">
                    <div class="actu_préShow">
                        <h2>{{ actuality.title }}</h2>
                        <p>{{ actuality.content }}</p>
                        <div>
                            <i class="far fa-clock"></i>
                            <span>Le {{ actuality.createdAt|date('d/m/Y') }}</span>
                        </div>                      
                    </div>              
                </div>
            </a>
        {% endfor %}  
    </div>
{% endblock %}
