{% extends 'base.html.twig' %}

{% block title %}Month Calendar Display{% endblock %}

{% block content %}

  <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
    <h1>{{ month_name }} - {{ month_number }} - {{ nb_days_month }}</h1>
    <div>
      <a href="{{ path('admin_calendar_month') }}?month={{ previous_month_month }}&year={{ previous_month_year }}" class="btn btn-primary">&lt;</a>  
      <a href="{{ path('admin_calendar_month') }}?month={{ next_month_month }}&year={{ next_month_year }}" class="btn btn-primary">&gt;</a>
    </div>
  </div>
  
  {{ nb_days_month }} jours - {{ nb_weeks }} semaines => Mois précédent ({{ previous_month_month }}) : {{ nb_days_previous_month }}

  {# <table class="calendar__table calendar__table--<?= $month->getWeeks(); ?>weeks"> #}
      {# <tr class="calendar__table__dayname"> #}
            {# {% for day in days %} #}
                {# <td> #}
                    {# <div class="calendar__column__title">{{ day }}</div> #}
                {# </td> #}
            {# {% endfor %} #}
      {# </tr> #}
{# {% if launch_day == 1 %} #}
{# {% set start = start_monday %} #}
{# {% else %} #}
{# {% set start = start_other %} #}
{# {% endif %} #}

{#
{% set start = starting_day %}

    {% set first_day_display = 0 %}

    {% for i in 1..1 %}
        {% for day in 1..7 %}
            {% if first_day_display == 0 %}
                {% if launch_day == day %}
                    <td class="calendar__day">
                    <div>{{ start }}</div>
                    </td>
                    {% set first_day_display = 1 %}
                {% else %}
                    <td class="calendar__day">
                    <div></div>
                    </td>
                {% endif %}
            {% elseif first_day_display == 1 %}
                    <td class="calendar__day">
                    <div>{{ start }}</div>
                    </td>
            {% endif %}
        {% endfor %}
    {% endfor %}
%}
#}


<table class="calendar__table">
<form action="{{ path('admin_calendar_new') }}" method="POST">
{# <tr class="calendar__table__dayname"> #}

    <tr class="calendar__table__dayname">
    {% for day in days %}
    <td>
        <div class="calendar__column__title">{{ day }}</div>
    </td>
    {% endfor %}
    </tr>

{% set day = days[0] %}
{# -------------------------{{ launch_day }}-------------------------- #}
    
{% for i in 1..1 %} {# Semaine N° 1 #}
    <tr>
        {% if launch_day == 1 %}
            {% for day in days_of_month[:7] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
            {% endfor %}
        {% elseif launch_day == 2 %}
                <td></td>
                {% for day in days_of_month[:6] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
                {% endfor %}
        {% elseif launch_day == 3 %}
                <td></td>
                <td></td>
                {% for day in days_of_month[:5] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
                {% endfor %}
        {% elseif launch_day == 4 %}
                <td></td>
                <td></td>
                <td></td>
                {% for day in days_of_month[:4] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
                {% endfor %}
        {% elseif launch_day == 5 %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% for day in days_of_month[:3] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
                {% endfor %}
        {% elseif launch_day == 6 %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% for day in days_of_month[:2] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
                {% endfor %}
        {% elseif launch_day == 7 %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% for day in days_of_month[:1] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
                {% endfor %}
        {% endif %}
    </tr>
{% endfor %}
{% for i in 1..1 %} {# Semaine N° 2 #}
    <tr>
        {% for day in days_of_month[8 - launch_day:7] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
        {% endfor %}
    </tr>
{% endfor %}
{% for i in 1..1 %} {# Semaine N° 3 #}
    <tr>
        {% for day in days_of_month[15 - launch_day:7] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
        {% endfor %}
    </tr>
{% endfor %}
{% for i in 1..1 %} {# Semaine N° 4 #}
    <tr>
        {% for day in days_of_month[22 - launch_day:7] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
        {% endfor %}
    </tr>
{% endfor %}
{% for i in 1..1 %} {# Semaine N° 5 #}
    <tr>
        {% for day in days_of_month[29 - launch_day:7] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
        {% endfor %}
    </tr>
{% endfor %}
{% for i in 1..1 %} {# Semaine N° 6 #}
    <tr>
        {% for day in days_of_month[36 - launch_day:7] %}
            <td>
            {{ day.daynumber }}
            <input type="hidden" id="daynumber" name="{{ day.daynumber }}" value="{{ day.daynumber }}">
            <br>
                <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
                    {% if day.dayname not in [3, 6, 7] %}
                        checked
                    {% else %}
                        unchecked
                    {% endif %}
                >        
            </td>
        {% endfor %}
    </tr>
{% endfor %}

{# {% endfor %} #}



<input type="submit">
</form>
{# <br> #}

{#
<form method="POST">
{% for day in days_of_month %}

    {% if day.dayname == 1 %}
        <td class="calendar__day">
        
        </td>
    {% elseif day.dayname == 2 %}
        <td class="calendar__day">
        {{ day.daynumber }} - {{ day.dayname }}

        <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
            {% if day.dayname not in [3, 6, 7] %}
                checked
            {% else %}
                unchecked
            {% endif %}
        >
        </td>
    {% elseif day.dayname == 3 %}
        <td class="calendar__day">
        {{ day.daynumber }} - {{ day.dayname }}

        <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
            {% if day.dayname not in [3, 6, 7] %}
                checked
            {% else %}
                unchecked
            {% endif %}
        >
        </td>
    {% elseif day.dayname == 4 %}
        <td class="calendar__day">
        {{ day.daynumber }} - {{ day.dayname }}

        <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
            {% if day.dayname not in [3, 6, 7] %}
                checked
            {% else %}
                unchecked
            {% endif %}
        >
        </td>
    {% elseif day.dayname == 5 %}
        <td class="calendar__day">
        {{ day.daynumber }} - {{ day.dayname }}

        <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
            {% if day.dayname not in [3, 6, 7] %}
                checked
            {% else %}
                unchecked
            {% endif %}
        >
        </td>
    {% elseif day.dayname == 6 %}
        <td class="calendar__day">
        {{ day.daynumber }} - {{ day.dayname }}

        <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
            {% if day.dayname not in [3, 6, 7] %}
                checked
            {% else %}
                unchecked
            {% endif %}
        >
        </td>
    {% else %}
        <td class="calendar__day">
        {{ day.daynumber }} - {{ day.dayname }}

        <input type="checkbox" id="is_workable" name="{{ day.daynumber }}"
            {% if day.dayname not in [3, 6, 7] %}
                checked
            {% else %}
                unchecked
            {% endif %}
        >
        </td>
    {% endif %}
   {# <br> #}
{#}
{% endfor %}
</tr>



{# {% endfor %} #}

</table>

{#}    
    {% for i in 1..nb_weeks %}
        <tr>
        
        {% for day in month_days %}

                {# {% set start = start + 1 %} #}
            {# {% elseif start > nb_days_month %} #}
                {# {% if start > nb_days_previous_month %} #}
                    {# {% set start = 1 %} #}
                    {# {% set change_month = 1%} #}
                    {# <td class="calendar__day"> #}
                    {# <div>{{ start }}</div> #}
                    {# </td> #}
                    {# {% set start = start + 1 %} #}
                {# {% else %} #}
                    {# <td class="calendar__day"> #}
                    {# <div>{{ start }}</div> #}
                    {# </td> #}
                    {# {% set start = start + 1 %} #}
                {# {% endif %} #}
            {# {% elseif start <= nb_days_month %} #}
                {# {% if change_month == 2 %} #}
                    {# <td class="calendar__day"> #}
                    {# <div>{{ start }}</div> #}
                    {# </td> #}
                    {# {% set start = start + 1 %} #}
                {# {% endif %} #}
                {# {% if change_month == 1%} #}
                    {# {% if start < nb_days_month %} #}
                        {# <td class="calendar__day"> #}
                        {# <div>{{ start }}</div> #}
                        {# </td> #}
                        {# {% set start = start + 1 %} #}
                    {# {% elseif start == nb_days_month %} #}
                        {# <td class="calendar__day"> #}
                        {# <div>{{ start }}</div> #}
                        {# </td> #}
                        {# {% set start = 1 %} #}
                        {# {% set change_month = 2 %} #}
                    {# {% endif %} #}
                {# {% elseif change_month == 0 %} #}
                    {# {% if start < nb_days_previous_month %} #}
                        {# <td class="calendar__day"> #}
                        {# <div>{{ start }}</div> #}
                        {# </td> #}
                        {# {% set start = start + 1 %} #}
                    {# {% elseif start == nb_days_previous_month %} #}
                        {# <td class="calendar__day"> #}
                        {# <div>{{ start }}</div> #}
                        {# </td> #}
                        {# {% set start = 1 %} #}
                        {# {% set change_month = 1 %} #}
                    {# {% endif %} #}
                {# {% endif %} #}

            

        {# {% endfor %} #}
        {# </tr> #}
    {# {% endfor %} #}
  {# </table> #}

{% endblock %}
