{% extends 'base.html.twig' %}

{% block content %}

<div class="add_bulletin_staff">
    <a href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i></a>
    <h2>Ma classe de {{ classroom.name }} </h2>
    {% for student in classroom.students %}    
        <div>                
            <a href="{{ path('document_addchildrenDocbyTeacher', { 'id': student.id }) }}">{{ student.name }} {{ student.firstname }}</a>   
        </div>                                    
    {% endfor %}  
</div>   
                
{% endblock %}