{% extends 'base.html.twig' %}

{% block title %}O'Tableau | {{ student.name }}{% endblock %}

{% block content %}

    <div class="content_profil">
        <div class="nav_profil">
            <div class="nav_profil_flex">
                <i class="fas fa-user-alt"></i>
                <div>
                    <p>{{ app.user.username }}</p>
                    <span>{{app.user.role.name }}</span>
                </div>
            </div>
            <div>
                <a href="{{ path('user_myAccount') }}">Mon compte</a>
            </div>
        </div>
        <div class="doc_children">
            <a href="{{ path('student_index', { 'id': student.id }) }}"><i class="fas fa-angle-left"></i></a>
            <div class="doc_children_border">
                <h1>{{ student.name }} {{ student.firstname }}</h1>
                <div class="add_doc_children">
                    <a href="{{ path('document_addchildrenDoc', { 'id': student.id }) }}"><i class="fas fa-plus-circle"></i></a>
                </div>
                <div>
                {% for document in student.documents %}
                    <a href="/docs/{{ document.documenturl }}">
                        <i class="fas fa-file-pdf"></i>
                        <p>{{ document.name }}</p>
                    </a>
                {% endfor %} 
                </div>
            </div>
        </div>
    </div>

{% endblock %}
