{% extends 'base.html.twig' %}

{% block title %}Week Calendar Display{% endblock %}

{% block content %}

  <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
    <h1>Semaine N° {{ actual_week }} - Année N° {{ actual_year }}</h1>

    <div>
      <a href="{{ path('admin_canteen_read_by_week') }}?year={{ previous_week_year }}&week={{ previous_week_week }}" class="btn btn-primary">&lt;</a>  
      <a href="{{ path('admin_canteen_read_by_week') }}?year={{ next_week_year }}&week={{ next_week_week }}" class="btn btn-primary">&gt;</a>
    </div>
  </div>

{% for classroom in classrooms %}
  <table class="calendar__table">
      <caption>{{ classroom.name }}</caption>
      <form action="{{ path('admin_canteen_read_by_week') }}" method="POST">
      <tr class="calendar__table__dayname">

                <td><div class="calendar__column__title">Elève</div></td>            
                <td><div class="calendar__column__title">Lundi<br>{{ week_day_1 }}</div></td>
                <td><div class="calendar__column__title">Mardi<br>{{ week_day_2 }}</div></td>
                <td><div class="calendar__column__title">Mercredi<br>{{ week_day_3 }}</div></td>
                <td><div class="calendar__column__title">Jeudi<br>{{ week_day_4 }}</div></td>
                <td><div class="calendar__column__title">Vendredi<br>{{ week_day_5 }}</div></td>
                {# <td><div class="calendar__column__title">Samedi<br>{{ week_day_6 }}</div></td> #}
                {# <td><div class="calendar__column__title">Dimanche<br>{{ week_day_7 }}</div></td> #}

      </tr>





     {% for i in 1..1 %}
      {% for student in students if student.classroom == classroom %}
      
        <tr>
                <td>
                    {{ student }}
                </td>
                

                {% for presenceLunch in presenceLunches %} 
                {% for id in dates %}
                {% if actual_week == id.week  and week_day_1 == id.calendarDate and presenceLunch.calendar.id == id.id and presenceLunch.student == student %} 
                    <td class="calendar__day">
                        <div>  
                        {% if presenceLunch.IsPresent == 1 %}
                        Présent
                        {% else %}
                        Absent
                        {% endif %}
                        </div>
                        <div> 
                        {% if presenceLunch.IsOrdered == 1 %}
                        Commandé
                        {% else %}
                        Non Commandé
                        {% endif %}
                        </div>
                        <div> 
                        {% if presenceLunch.HasEated == 1 %}
                        Consommé
                        {% else %}
                        Non Consommé
                        {% endif %}
                        </div>
                    </td>
                 
                 {% endif %}
                 
                {% endfor %} 
                {% endfor %} 


               {% for presenceLunch in presenceLunches %} 
                {% for id in dates %}
                {% if actual_week == id.week  and week_day_2 == id.calendarDate and presenceLunch.calendar.id == id.id and presenceLunch.student == student %} 
                <td class="calendar__day">


                   
                    <div> 
                    {% if presenceLunch.IsPresent == 1 %}
                      Présent
                    {% else %}
                      Absent
                    {% endif %}
                    </div>
                    <div> 
                    {% if presenceLunch.IsOrdered == 1 %}
                      Commandé
                    {% else %}
                      Non Commandé
                    {% endif %}
                    </div>
                    <div> 
                    {% if presenceLunch.HasEated == 1 %}
                      Consommé
                    {% else %}
                      Non Consommé
                    {% endif %}
                    </div>
                 </td>
                 {% endif %}
                {% endfor %} 
                {% endfor %} 

                {% for presenceLunch in presenceLunches %} 
                {% for id in dates %}
                {% if actual_week == id.week  and week_day_3 == id.calendarDate and presenceLunch.calendar.id == id.id and presenceLunch.student == student %} 
                <td class="calendar__day">


                   
                    <div> 
                    {% if presenceLunch.IsPresent == 1 %}
                      Présent
                    {% else %}
                      Absent
                    {% endif %}
                    </div>
                    <div> 
                    {% if presenceLunch.IsOrdered == 1 %}
                      Commandé
                    {% else %}
                      Non Commandé
                    {% endif %}
                    </div>
                    <div> 
                    {% if presenceLunch.HasEated == 1 %}
                      Consommé
                    {% else %}
                      Non Consommé
                    {% endif %}
                    </div>
                 </td>
                 {% endif %}
                {% endfor %} 
                {% endfor %}


               {% for presenceLunch in presenceLunches %} 
                {% for id in dates %}
                {% if actual_week == id.week  and week_day_4 == id.calendarDate and presenceLunch.calendar.id == id.id and presenceLunch.student == student %} 
                <td class="calendar__day">

                     
                   
                    <div> 
                    {% if presenceLunch.IsPresent == 1 %}
                      Présent
                    {% else %}
                      Absent
                    {% endif %}
                    </div>
                    <div> 
                    {% if presenceLunch.IsOrdered == 1 %}
                      Commandé
                    {% else %}
                      Non Commandé
                    {% endif %}
                    </div>
                    <div> 
                    {% if presenceLunch.HasEated == 1 %}
                      Consommé
                    {% else %}
                      Non Consommé
                    {% endif %}
                    </div>
                 </td>
                 {% endif %}
                {% endfor %} 
                {% endfor %}


              {% for presenceLunch in presenceLunches %} 
                {% for id in dates %}
                {% if actual_week == id.week  and week_day_5 == id.calendarDate and presenceLunch.calendar.id == id.id and presenceLunch.student == student %} 
                <td class="calendar__day">

                   
                    <div> 
                    {% if presenceLunch.IsPresent == 1 %}
                      Présent
                    {% else %}
                      Absent
                    {% endif %}
                    </div>
                    <div> 
                    {% if presenceLunch.IsOrdered == 1 %}
                      Commandé
                    {% else %}
                      Non Commandé
                    {% endif %}
                    </div>
                    <div> 
                    {% if presenceLunch.HasEated == 1 %}
                      Consommé
                    {% else %}
                      Non Consommé
                    {% endif %}
                    </div>
                 </td>
                 {% endif %}
                {% endfor %} 
                {% endfor %}
                 
                
{% endfor %} 
        </tr>
       
    {% endfor %}

    <input type="submit">
</form>
  </table>
  <br><br><br><br><br> 
{% endfor %} 


{% endblock %}