{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Messagerie{% endblock %}

{% block content %}

<div>

    <a href="{{ path('conversation_new')}} ">Create new</a>
     
    {% for conv in conv %}
        {% if conv.userParticipate == app.user %}
            
            <p><a href="{{ path('conversation_show', {'id': conv.id })}}">{{conv.userConsult}}</a></p>
            
        {% elseif conv.userConsult == app.user %}
            
            <p><a href="{{ path('conversation_show', {'id': conv.id })}}">{{conv.userParticipate}}</a></p>
            
        {% endif %}
    {% endfor %}
    
      
</div>

{% endblock %}

{% block footer %}

{% endblock %}
