{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Messagerie{% endblock %}

{% block content %}

<div class="content_message">
    <div class="message_head">
        <a href="{{ path('conversation_index')}} "><i class="fas fa-angle-left"></i></a>
        {% if conversation.userParticipate == app.user %}
            <h1>{{conversation.userConsult}}</h1>
        {% elseif conversation.userConsult == app.user %}
            <h1>{{conversation.userParticipate}}</h1>
        {% endif %}
        <i class="fas fa-trash" id="button_delete"></i>
        {# {{ path('conversation_delete', {'id': conversation.id})}}  #}
    </div>
    <div class="message_list">
    {% for message in conversation.messages %}
        <p>{{ message.content }}</p>
    {% endfor %}
    </div> 
    <div class="message_input">
        {% include 'conversation/_formMessage.html.twig' %} 
    </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}
