{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Mon compte{% endblock %}

{% block content %}

    
    <div class="content_profil">
        <div class="nav_profil">
            <div class="nav_profil_flex">
                <i class="fas fa-user-alt"></i>
                <div>
                    <p>{{ app.user.name }} {{ app.user.firstname }} </p>
                    <span>{{app.user.role.name }}</span>
                </div>
            </div>
            <div>
            {% if app.user.role.name == 'Direction' %}
                <div class="button_compte_director">
                    <a href="{{ path('user_myAccount') }}">Mon compte</a>
                </div>
                <div>
                    <a href="{{ path('admin_default_index') }}">Gestion</a>
                </div>
            {% else %}
                <a href="{{ path('user_myAccount') }}">Mon compte</a>
            {% endif %}
            </div>            
        </div>
        <div class="account">
            <a href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i></a>
            <div class="account_border">
                <h1>Mes informations personnel</h1>
                <div>
                    <p><i class="fas fa-user-alt"></i>{{app.user.firstname}} {{app.user.name}}</p>
                    <p><i class="fas fa-home"></i>{{app.user.address}} </p>
                    <p><i class="fas fa-tty"></i>{{app.user.phone}} </p>
                    <p><i class="fas fa-mobile-alt"></i>{{app.user.mobilePhone}} </p>
                    <p><i class="fas fa-envelope-square"></i>{{app.user.email}} </p>                                
                </div>
                <a href="{{ path('user_edit', { 'id': app.user.id }) }}">Modifier mes informations</a>  
            </div>
        </div>
    </div>
{% endblock %}