{% extends 'base.html.twig' %}

{% block title %}O'Tableau | Profil{% endblock %}

{% block content %}
 
    <div class="content_profil">
        <div class="nav_profil">
            <div class="nav_profil_flex">
                <img src="{{ asset('img/avatar-grey-blue.png') }}" alt="">
                <div>
                    <p>{{ app.user.name }} {{ app.user.firstname }} </p>
                    <span>{{app.user.role.name }}</span>
                </div>
            </div>
            <div>
            {% if app.user.role.name == 'Direction' %}
                <div class="button_compte_director">
                    <a href="{{ path('user_myAccount') }}">Compte</a>
                </div>
                <div>
                    <a href="{{ path('admin_default_index') }}">Gestion</a>
                </div>
            {% else %}
                <a href="{{ path('user_myAccount') }}">Mon compte</a>
            {% endif %}
            </div>            
        </div>
        <div class="profil">
            {% if app.user.role.name == 'Direction' or app.user.role.name == 'Enseignant'  %}

                <div class="alert_content">
                     <div class="animated infinite fadeIn delay-1s alert">
                        {% for alert in alerts %}      
                            <h2>{{ alert.title }}</h2>
                            <p>{{ alert.content }}</p>   
                        {% endfor %}  
                    </div>
                 </div>
            
                <div class="button_staff">
                    <div>
                        <a href="{{ path('actuality_add') }}">Ajouter une actu</a>
                    </div>
                    <div>
                        <a href="{{ path('document_students') }}">Ajouter un bulletin</a>
                    </div>
                </div>
                
                <div class="profil_classe">
                    <h1>Ma classe</h1>
                    
                    {% if classroomId != null %}
                        <ul class="myNav">
                            {% for student in classroomId.students %}
                            <li class="myNav-item ui-accordion-item">
                                <a class="myNav-link ui-accordion-trigger" href="#">{{student.name}} {{student.firstname}}</a>
                                <ul class="myNav-content ui-accordion-content">
                                <p>J'autorise à récupérer mon enfant :</p>
                                {% for person in student.person %}
                                    <li>{{person.name}} {{person.firstname}}</li>
                                {% endfor %}  
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="alert_class_null">Cet enseignant n'as pas de classe</p>
                    {% endif %}
                </div>
                <h1 class="children_title">Mes enfants</h1>
                {% for children in app.user.students %}
                    <div class="profil_children">
                        <a href="{{ path('student_index', { 'id': children.id }) }}">
                            <i class="fas fa-user-graduate"></i>
                            <h2>{{ children.name }} {{ children.firstname }}</h2>
                            <p>{{ children.classroom.name }}</p>
                        </a>
                    </div>
                {% endfor %}
                <div class="profil_doc_staff">
                    <h1>Vie de l'école</h1>
                    <div>
                        {% for doc in documents %}
                            <a href="../docs/{{ doc.documenturl }}">
                                <i class="fas fa-file-pdf"></i>
                                <p>{{ doc.name }}</p>
                            </a>     
                        {% endfor %}              
                    </div>
                </div>             
            {% else %}
                <h1 class="children_title">Mes enfants</h1>
                {% for children in app.user.students %}
                <div class="profil_children">
                    <a href="{{ path('student_index', { 'id': children.id }) }}">
                        <i class="fas fa-user-graduate"></i>
                        <h2>{{ children.name }} {{ children.firstname }}</h2>
                        <p>{{ children.classroom.name }}</p>
                    </a>
                </div>
                {% endfor %}
                <div class="profil_doc">
                    <h1>Vie de l'école</h1>
                    <div>
                        {% for doc in documents %}
                            <a href="../docs/{{ doc.documenturl }}">
                                <i class="fas fa-file-pdf"></i>
                                <p>{{ doc.name }}</p>
                            </a>     
                        {% endfor %}              
                </div>
                        
                </div>
                <div class="profil_choice">
                    <h1>Choix personnels</h1>
                    {% if app.user.imageAgreement == true  %}
                        <p>Droit à l'image => Autorisation de publication : <span>Oui</span></p>
                    {% else %}
                        <p>Droit à l'image => Autorisation de publication : <span>Non</span></p>
                    {% endif %}
                    {% if app.user.communicationAgreement == true  %}
                        <p>Communication de mes coordonnées : <span>Oui</span></p>
                    {% else %}
                        <p>Communication de mes coordonnées : <span>Non</span></p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}



           
